body {
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  text-align: center;
  font-size: 200%;
}

h2 {
  font-weight: 100em;
  font-size: 110%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
.hero{
  display: inline;
  align-content: center;
}

nav li {
  display: inline-block;
  margin: 12px 12px 12px 12px;
  text-decoration: underline;
}

.blue-button
.signup-form
form input[type=submit]{
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
} 

 .signup-form form input[type=submit] { 
  background-color: blue;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  width: 8em;
  text-align: center;
  display: inline-block;
}
